<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CloudKit</key>
	<dict>
		<key>ContainerIdentifier</key>
		<string>iCloud.com.recipecircle.app</string>
		<key>SchemaName</key>
		<string>RecipeModel</string>
	</dict>
</dict>
</plist>
